body {
    padding-left: 30px;
}

.code {
    font-family: consolas, courier new, monospace;
    font-size: 10pt;
}

#repl {
    width: 700px;
    float: left;
}

#repl textarea {
    margin-bottom: 10px;
    resize: none;
}

#instructions {
    width: 200px;
    float: left;
    margin-left: 30px;
}

#console-output {
    width: 100%;
    height: 450px;
}

#console {
    width: 100%;
    height: 100px;
    resize: none;
}

#copy {
    margin-top: 30px;
}

h3 {
    margin: 0;
}

pre {
    margin: 0;
    padding: 0;
    text-indent: 0;
}